<br />
<h3>Listar propietarios</h3>
<div class="card">
  <div class="card-header">
    <div style="display: flex; justify-content: space-between;">
      <div> <button class="btn btn-success" routerLink="/agregar-propietario" type="button">Crear</button></div>
      <div class="pull-right">
        <form class="d-flex" style="display: flex; justify-content: flex-end">
        <input class="form-control me-2" tabindex="-1" type="search"  aria-label="Buscar" >
        <button class="btn btn-outline-primary" type="submit">Buscar</button>
      </form>
    </div>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped|sm|bordered|hover|inverse table-inverse table-responsive">
      <thead class="thead-inverse|thead-default">
        <tr>
          <th>Código</th>
          <th>Identidad</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Fecha de Nacimiento</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th class="justify-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let propietario of Propietario | paginate: {itemsPerPage:5, currentPage: page} ">
            <td>{{ propietario["id"] }}</td>
            <td>{{ propietario["identificacion"] }}</td>
            <td>{{ propietario["nombre"] }}</td>
            <td>{{ propietario["apellidos"] }}</td>
            <td>{{ propietario["fecha_nacimiento"] }}</td>
            <td>{{ propietario["direccion"] }}</td>
            <td>{{ propietario["telefono"] }}</td>
            <td>{{ propietario["email"] }}</td>
            <td>
              <a class="btn btn-info" routerLink="/editar-propietario/{{ propietario['id'] }}">  Editar </a> | <a class="btn btn-danger" (click)="borrar(propietario['id'])">Borrar</a>
          </tr>
        </tbody>
    </table>
    <br />
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
  </div>

</div>
